<app-header></app-header>
<div class="d-flex align-items-stretch">
  <app-sidebar></app-sidebar>
  <div class="page-holder w-100  ">


    <router-outlet></router-outlet>


    <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100 fixed-bottom">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 text-center text-md-left text-primary">
            <p class="mb-2 mb-md-0">ImproveMe &copy; 2021</p>
          </div>
          <div class="col-md-6 text-center text-md-right text-gray-400">
            <p class="mb-0">Design by <a href="#" class="external text-gray-400">Bayram FRADJ</a></p>
          </div>
        </div>
      </div>
    </footer>

  </div>
</div>
